@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
  display: grid;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.Container div {
  height: 50%;
}
.Container .btncontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.Container .btncontainer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-image: url("../teamwork1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: -1%;
  left: -1%;
  right: -1%;
  bottom: -1%;
  transform: scale(1.05);
}

.loginContainer {
  height: calc(100vh - 100px);
  background-image: url("../teamwork3.jpg");
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer form {
  margin: auto;
}
.formContainer form .inputField {
  display: flex;
  flex-direction: column;
}
.formContainer form .inputField .input {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  height: auto;
  margin-bottom: 10px;
  width: 244px;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
  border: 2px solid #222831;
}
.formContainer form .inputField span.error-message {
  padding-left: 5px;
  font-size: 12px;
  color: red;
  text-align: center;
}
.formContainer form .buttonContainer {
  text-align: center;
}
.formContainer form .buttonContainer .button {
  background-color: #393E46;
  border: none;
  color: #FFCD29;
  width: 130px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  margin: auto;
  margin-top: 30px;
}

p.click-here {
  font-size: 12px;
  opacity: 0.6;
}

.link-click-here {
  font-style: italic;
  font-size: 12px;
  opacity: 0.6;
  padding-bottom: 2rem;
}

.link-click-here:hover {
  text-decoration: underline;
  opacity: 1;
}

.button {
  background-color: #393E46;
  border: none;
  color: #FFCD29;
  width: 100px;
  height: 55px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.LogoContainer {
  background-color: #222831;
  display: flex;
  z-index: 999;
}
.LogoContainer .logo {
  height: 100%;
  margin: auto;
}

.imageIndex {
  width: 100vw;
  grid-row: 7/13;
  grid-column: 1/13;
  opacity: 0.6;
  z-index: 0;
}

.buttonLogin {
  grid-row: 9;
  grid-column: 4/7;
  margin: 3px;
  background-color: #393E46;
  border: none;
  color: #FFCD29;
  width: 120px;
  height: 60px;
  border-radius: 10px;
  z-index: 1;
}

.buttonBuyProduct {
  grid-row: 9;
  grid-column: 7/10;
  margin: 3px;
  background-color: #393E46;
  border: none;
  color: #FFCD29;
  width: 120px;
  height: 60px;
  border-radius: 10px;
  z-index: 1;
}

@media only screen and (min-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .Container {
    flex-direction: row;
  }
  .Container div {
    height: 100%;
    width: 50%;
  }
  .Container .LogoContainer .logo {
    height: -moz-max-content;
    height: max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .Container .buttonLogin {
    grid-column: 8/9;
    grid-row: 4/5;
    width: 150px;
    height: 80px;
    font-size: 20px;
    z-index: 1;
    margin: 10px;
  }
  .Container .buttonBuyProduct {
    grid-column: 9/11;
    grid-row: 4/5;
    width: 150px;
    height: 80px;
    font-size: 20px;
    z-index: 1;
    margin: 10px;
  }
  .imageIndex {
    width: 70vw;
    height: 100vh;
    grid-row: 1/8;
    grid-column: 5/13;
    opacity: 0.6;
    z-index: 0;
  }
}/*# sourceMappingURL=index.css.map */