.QuestContainer {
    h1 {
        text-align: center;
        margin: 20px;
        font-size: x-large;
    }

    div.personalQuestsContainer,
    .teamQuestsContainer {
        margin-bottom: 20px;

        .title {
            text-decoration: underline;
            background-color: #D9D9D9;
        }
        .personalQuests,
            .teamQuests {
                background-color: #D9D9D9;
                .personalQuest,
                    .teamQuest {
                    display: flex;
                    flex-direction: column;
                    width: 100vw;
                    padding: 15px 25px;
                    div.firstRow{
                        justify-content: space-between;
                        display: flex;
                        flex-direction: row; 
                        .column{
                            display: flex;
                            flex-direction: row;
                        }
                    }
                    div.secondRow{
                        justify-content: space-between;
                        display: flex;
                        flex-direction: row; 
                        .checkbox{
                            margin-top: 10px;
                            padding-right: 10px;
                        }
                    }
                }
        }
    }
}