.QuestContainer {
    
    h1 {
        text-align: center;
        margin: 20px;
        font-size: x-large;
    }

.QuestContainer {

    .personalQuestsContainer,
    .teamQuestsContainer {
        margin-bottom: 20px;
        width: 100%;

        .title {
            text-decoration: underline;
            background-color: #D9D9D9;
            margin: 0 15px;
        }

        .personalQuests,
        .teamQuests {
            background-color: #D9D9D9;
            margin: 0 15px;

            .personalQuest,
            .teamQuest {
                display: flex;
                flex-direction: column;
                padding: 15px 25px;

                .firstRow {
                    justify-content: space-between;
                    display: flex;
                    flex-direction: row;

                    .column {
                        display: flex;
                        flex-direction: row;
                    }
                }

                .secondRow {
                    justify-content: space-between;
                    display: flex;
                    flex-direction: row;

                    input {
                        align-self: center;
                    }
                }
            }
        }
    }
}

.goBackButton {
    display: block;
    font-size: 1.3rem;
    border-radius: 10px;
    background-color: #222831;
    color: #FFCD29;
    width: 120px;
    padding: 5px;
    text-align: center;
    margin: 20px auto;
}

@media screen and (min-width: 1024px) {
    .QuestContainer {
        display: flex;
    }
}

@media screen and (min-width: 1500px) {
    .personalQuestsContainer {
        margin-left: 30px;
    }

    .teamQuestsContainer {
        margin-right: 30px;
    }
}