h1 {
  text-align: center;
  margin: 20px;
  font-size: x-large;
}

.QuestContainer .personalQuestsContainer,
.QuestContainer .teamQuestsContainer {
  margin-bottom: 20px;
  width: 100%;
}
.QuestContainer .personalQuestsContainer .title,
.QuestContainer .teamQuestsContainer .title {
  text-decoration: underline;
  background-color: #D9D9D9;
  margin: 0 15px;
}
.QuestContainer .personalQuestsContainer .personalQuests,
.QuestContainer .personalQuestsContainer .teamQuests,
.QuestContainer .teamQuestsContainer .personalQuests,
.QuestContainer .teamQuestsContainer .teamQuests {
  background-color: #D9D9D9;
  margin: 0 15px;
}
.QuestContainer .personalQuestsContainer .personalQuests .personalQuest,
.QuestContainer .personalQuestsContainer .personalQuests .teamQuest,
.QuestContainer .personalQuestsContainer .teamQuests .personalQuest,
.QuestContainer .personalQuestsContainer .teamQuests .teamQuest,
.QuestContainer .teamQuestsContainer .personalQuests .personalQuest,
.QuestContainer .teamQuestsContainer .personalQuests .teamQuest,
.QuestContainer .teamQuestsContainer .teamQuests .personalQuest,
.QuestContainer .teamQuestsContainer .teamQuests .teamQuest {
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
}
.QuestContainer .personalQuestsContainer .personalQuests .personalQuest .firstRow,
.QuestContainer .personalQuestsContainer .personalQuests .teamQuest .firstRow,
.QuestContainer .personalQuestsContainer .teamQuests .personalQuest .firstRow,
.QuestContainer .personalQuestsContainer .teamQuests .teamQuest .firstRow,
.QuestContainer .teamQuestsContainer .personalQuests .personalQuest .firstRow,
.QuestContainer .teamQuestsContainer .personalQuests .teamQuest .firstRow,
.QuestContainer .teamQuestsContainer .teamQuests .personalQuest .firstRow,
.QuestContainer .teamQuestsContainer .teamQuests .teamQuest .firstRow {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.QuestContainer .personalQuestsContainer .personalQuests .personalQuest .firstRow .column,
.QuestContainer .personalQuestsContainer .personalQuests .teamQuest .firstRow .column,
.QuestContainer .personalQuestsContainer .teamQuests .personalQuest .firstRow .column,
.QuestContainer .personalQuestsContainer .teamQuests .teamQuest .firstRow .column,
.QuestContainer .teamQuestsContainer .personalQuests .personalQuest .firstRow .column,
.QuestContainer .teamQuestsContainer .personalQuests .teamQuest .firstRow .column,
.QuestContainer .teamQuestsContainer .teamQuests .personalQuest .firstRow .column,
.QuestContainer .teamQuestsContainer .teamQuests .teamQuest .firstRow .column {
  display: flex;
  flex-direction: row;
}
.QuestContainer .personalQuestsContainer .personalQuests .personalQuest .secondRow,
.QuestContainer .personalQuestsContainer .personalQuests .teamQuest .secondRow,
.QuestContainer .personalQuestsContainer .teamQuests .personalQuest .secondRow,
.QuestContainer .personalQuestsContainer .teamQuests .teamQuest .secondRow,
.QuestContainer .teamQuestsContainer .personalQuests .personalQuest .secondRow,
.QuestContainer .teamQuestsContainer .personalQuests .teamQuest .secondRow,
.QuestContainer .teamQuestsContainer .teamQuests .personalQuest .secondRow,
.QuestContainer .teamQuestsContainer .teamQuests .teamQuest .secondRow {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
.QuestContainer .personalQuestsContainer .personalQuests .personalQuest .secondRow input,
.QuestContainer .personalQuestsContainer .personalQuests .teamQuest .secondRow input,
.QuestContainer .personalQuestsContainer .teamQuests .personalQuest .secondRow input,
.QuestContainer .personalQuestsContainer .teamQuests .teamQuest .secondRow input,
.QuestContainer .teamQuestsContainer .personalQuests .personalQuest .secondRow input,
.QuestContainer .teamQuestsContainer .personalQuests .teamQuest .secondRow input,
.QuestContainer .teamQuestsContainer .teamQuests .personalQuest .secondRow input,
.QuestContainer .teamQuestsContainer .teamQuests .teamQuest .secondRow input {
  align-self: center;
}

@media screen and (min-width: 1024px) {
  .QuestContainer {
    display: flex;
  }
}
@media screen and (min-width: 1500px) {
  .personalQuestsContainer {
    margin-left: 30px;
  }
  .teamQuestsContainer {
    margin-right: 30px;
  }
}/*# sourceMappingURL=allQuests.css.map */