.HeaderContainer {
    display: flex
}

header {
    width: 100%;
    display: flex;
    background-color: #222831;
    justify-content: center;
    height: 100%;
    flex-direction: row;
}

.coinHeader {
    width: auto;
    height: 30px;
    margin-top: 35px;
    margin: auto;

}

.wallet {
    color: white;
    margin-top: 38px;
    margin-right: -60px;
    margin-left: 10px;
}

.logoHeader {
    width: 100px;
}

.hamburgerIcon {
    margin-top: 25px;
    height: 40px;
    align-items: end;
    margin-left: auto;
}