.dashboardContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100vh;
    margin: 8px;


    .progressCarrousel {
        grid-row: 1/4;
        grid-column: 1/6;
        margin-right: 10px;

    }

    .profileInfo {
        background-color: #D9D9D9;
        grid-row: 1/4;
        grid-column: 6/13;

        .personalInfo {
            margin: 2px;
            font-size: 12px;
        }
    }

    .personalQuests {
        margin-top: 10px;
        background-color: #D9D9D9;
        grid-row: 4/8;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .seeAll {
        grid-row: 1/2;
        grid-column: 2/5;
        text-align: end;
        font-weight: 800;
    }

    //     .title {
    //         text-align: center;
    //         font-size: 18px;
    //         font-weight: 500;
    //         grid-row: 1/2;
    //         grid-column: 1/4;
    //     }

    //     .underline {
    //         border-color: #222831;
    //         width: 50%;
    //         margin: 0 auto;
    //         grid-row: 2;
    //         grid-column: 1/4;
    //         margin-top: -8px;
    //     }

    //     .priceContainer {
    //         display: grid;
    //         grid-template-columns: repeat(2, 1fr);
    //         grid-template-rows: repeat(3, 1fr);
    //         width: 40px;
    //         grid-row: 2;
    //         grid-column: 1;
    //     }

    //     .coins {
    //         width: 20px;
    //         text-align: center;
    //     }

    //     .price {
    //         font-size: 12px;
    //         text-align: center;
    //     }
    // }

    .questRewards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 200px;
        grid-row: 2;
        grid-column: 2;
    }

    .questReward {
        font-size: 12px;
        text-align: center;
    }

    .teamQuests {
        margin-top: 10px;
        background-color: #D9D9D9;
        grid-row: 8/12;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    // .rewards {
    //     margin-top: 10px;
    //     grid-row: 12/16;
    //     grid-column: 1/13;
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     grid-template-rows: repeat(4, 1fr);

    //     .reward {
    //         background-color: #D9D9D9;
    //         text-align: center;
    //         border: 1px solid black;
    //         height: 45px;
    //         width: 80px;
    //         display: grid;
    //         place-items: center;
    //         grid-row: 2;
    //         grid-column: 1;
    //         margin-top: 5px;

    //         .activity {
    //             font-size: 14px;
    //             font-weight: 500;
    //         }
    //     }
    // }
}