.dashboardContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 1fr);
    height: 100vh;
    margin: 8px;


    .progressCarrousel {
        grid-row: 1/4;
        grid-column: 1/6;
        margin-right: 10px;

    }

    .profileInfo {
        background-color: #D9D9D9;
        grid-row: auto;
        grid-column: 6/13;
        height: auto;

        .personalInfo {
            margin: 2px;
            font-size: 12px;
        }
    }

    .personalQuests {
        margin-top: 10px;
        background-color: #D9D9D9;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        height: 200px;
    }

    .seeAll {
        grid-row: 1/2;
        grid-column: 2/5;
        text-align: end;
        font-weight: 800;
        z-index: 99;
    }

    .questRewards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 200px;
        grid-column: 2;
    }

    .questReward {
        font-size: 12px;
        text-align: center;
    }

    .teamQuests {
        margin-top: 10px;
        background-color: #D9D9D9;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 200px;
    }
}