@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    display: grid;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif
}

// .form{
//     .inputField{
//         .input{
//         margin: auto;
//         width: 244px;
//      }
//     .error-message{
//         padding-left: 5px;
//         font-size: 12px;
//         color:red
//         }
//     }
// }
.backgroundImage {
    position: relative;
    height: calc(100vh - 100px);
    width: 100vw;
    overflow: hidden;
}

.backgroundImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../teamwork2.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    z-index: -1;
}

.backgroundImage .contentContainer {
    position: relative;
    z-index: 1;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);

    form {
        margin: auto;

        .inputField {
            display: flex;
            flex-direction: column;

            .input {
                display: flex;
                flex-direction: row;
                border: none;
                border-radius: 5px;
                height: auto;
                margin-bottom: 10px;
                width: 244px;
                padding: 0.5rem 1rem;
                font-size: 0.9em;
                border: 2px solid #222831;
            }

            span.error-message {
                padding-left: 5px;
                font-size: 12px;
                color: red;
                text-align: center;
            }
        }

        .buttonContainer {
            text-align: center;

            .button {
                background-color: #393E46;
                border: none;
                color: #FFCD29;
                width: 130px;
                height: 55px;
                border-radius: 10px;
                cursor: pointer;
                border: none;
                margin: auto;
                margin-top: 30px;
            }
        }
    }
}

p.click-here {
    font-size: 12px;
    opacity: 0.6;
}

.link-click-here {
    font-style: italic;
    font-size: 12px;
    opacity: 0.6;
}

.link-click-here:hover {
    text-decoration: underline;
    opacity: 1;
}

.button {
    background-color: #393E46;
    border: none;
    color: #FFCD29;
    width: 100px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.Container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

}

.LogoContainer {
    background-color: #222831;
    grid-row: 1/8;
    grid-column: 1/8;


    .logo {
        width: 100%;
    }
}

.buttonLogin {
    grid-row: 10/12;
    grid-column: 4/7;
    margin: 3px;
    background-color: #393E46;
    border: none;
    color: #FFCD29;
    width: 100px;
    height: 55px;
    border-radius: 10px;
}

.buttonBuyProduct {
    grid-row: 10/12;
    grid-column: 7/10;
    margin: 3px;
    background-color: #393E46;
    border: none;
    color: #FFCD29;
    width: 100px;
    height: 55px;
    border-radius: 10px;
}



@media only screen and (min-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    .Container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
        height: 100vh;
        width: 100vw;

        .LogoContainer {
            grid-row: 1/8;
            grid-column: 1/5;
            width: 40vw;
            height: 100vh;

            .logo {
                width: 100%;
                height: 100vh;
            }
        }

        .buttonLogin {
            grid-column: 8/9;
            grid-row: 4/5;
            width: 150px;
            height: 80px;
            font-size: 20px;
            z-index: 1;
            margin: 10px;
        }

        .buttonBuyProduct {
            grid-column: 9/11;
            grid-row: 4/5;
            width: 150px;
            height: 80px;
            font-size: 20px;
            z-index: 1;
            margin: 10px;
        }

    }

    .imageIndex {
        width: 70vw;
        height: 100vh;
        grid-row: 1/8;
        grid-column: 5/13;
        opacity: .6;
        z-index: 0;
        // filter: blur(5px);
    }
}