.title {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    grid-row: 1/2;
    grid-column: 1/4;
}

.underline {
    border-color: #222831;
    width: 50%;
    margin: 0 auto;
    grid-row: 1;
    grid-column: 1/4;
    margin-top: 25px;
}

.priceContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80px;
    grid-column: 1;
    text-align: center;

}

.rewardPriceContainer {
    display: flex;
    flex-direction: row;
}

.coins {
    width: 20px;
    // justify-self: end;
}

.price {
    font-size: 12px;
    // place-self: left;

}

.rewards {
    margin-top: 10px;
    grid-row: auto;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    place-items: center;
}

.reward {
    background-color: #D9D9D9;
    text-align: center;
    border: 1px solid black;
    height: 55px;
    width: 80px;
    display: grid;
    place-items: center;
    grid-row: 2;
    margin-top: 5px;
    border-radius: 7px;
    cursor: pointer;



    .reward .activity {
        font-size: 14px;
        font-weight: 500;
    }
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    .amount {
        font-size: auto;
        color: #FFCD29;
    }
}

.walletCarousel {
    text-align: center;
    margin-top: 15px;
}

.titleWallet {
    font-size: 20px;
    color: #222831;
}

.coinCarousel {
    max-width: 45px;
}

.carouselButton {
    font-size: 10px;
    opacity: .6;
}

@media only screen and (min-width: 600px) {
    .dashboardContainer {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);

        .progressCarrousel {
            grid-row: 1/6;
            grid-column: 1/8;

            .titleWallet {
                font-size: 30px;
            }

            .coinCarousel {
                max-width: 80px;
            }

            .amount {
                font-size: 30px;
            }

            .carouselButton {
                font-size: 20px;
                margin-top: 20px;
            }
        }

        .profileInfo {
            grid-row: 1/5;
            grid-column: 7/12;
            margin: 5px;
            border-radius: 10px;


            .personalInfo {
                font-size: 20px;
                text-align: center;
                margin-top: 10px;
            }
        }

        .personalQuests {
            grid-row: 5/9;
            grid-column: 2/7;
            margin: 5px;
            border-radius: 10px;
        }

        .questReward {
            font-size: 18px;
        }

        .priceContainer {
            width: 120px;

            .coins {
                width: 40px;
            }

            .price {
                font-size: 18px;
            }
        }

        .seeAll {
            font-size: 15px;
        }

        .teamQuests {
            grid-row: 5/9;
            grid-column: 7/12;
            margin: 5px;
            border-radius: 10px;


        }

        .rewards {
            grid-column: 5/9;
            grid-row: 9/10;
        }

        .reward {
            width: 130px;
            height: 70px;
        }

    }
}