/* GENERATE KEY */

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
form{
    margin: auto;
}
.inputField{
    border: none;
    margin: 15px;
}
.input{
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 5px;
    height: 2rem;
    padding-left: 10px;
}
.buttonContainer{
    text-align: center;
}

/* .generateKeyButton{

} */