/* GENERATE KEY */

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    margin: auto;
    text-align: center;
}

.input {
    border: none;
    border-radius: 5px;
    margin: 8px;
    height: 30px;
    padding-left: 10px;
    min-width: 200px;
}

.buttonContainer {
    text-align: center;
}

/* .generateKeyButton{

} */