$container-bg: #D9D9D9;

.titleContainer {
    background: $container-bg;
    text-align: center;
    margin-top: 1rem;

    p {
        padding: 0.25rem 0;
    }
}

.rewardsContainer {
    text-align: center;
    width: 90%;
    font-weight: bold;
    margin: 0.5rem auto 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

    .title {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 2px solid black;
    }

    .subTitle {
        width: 100%;
    }

    .subTitle::after {
        content: '';
        position: relative;
        display: block;
        margin: auto;
        left: 0;
        bottom: 0;
        width: 40%;
        border-bottom: 1px solid black;
    }
}

.priceContainer {
    width: 100%;
    display: flex;
    gap: 0.25rem;
    margin: auto;

    p {
        padding-top: 2px;
    }
}

.reward {
    background-color: #D9D9D9;
    text-align: center;
    border: 1px solid black;
    height: 55px;
    width: 80px;
    display: grid;
    place-items: center;
    grid-row: 2;
    grid-column: 1;
    margin-top: 5px;
    border-radius: 7px;
    cursor: pointer;

    .activity {
        font-size: 14px;
        font-weight: 500;
    }
}

.disabled {
    filter:grayscale(100%);
}

.reward:hover {
    border: 3px outset black;
}