.titleWrapper {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.empty {
    visibility: hidden;
}

.membersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member {
    background: #D9D9D9;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name,
.function,
.email,
.team {
    width: 40%;
    text-align: center;
}

.name>:first-child,
.function>:first-child,
.email>:first-child,
.team>:first-child {
    font-weight: bolder;
}