.progressBar {
    margin-top: 10px;
    display: flex;
    height: 20px;
    width: 80%;
    background-color: #e9e8e8;
    border-radius: 50px;

    .completedBar {
        height: 100%;
        border-radius: inherit;
        text-align: right;
        display: flex;
        justify-content: center;

        .completedPart {
            font-size: 0.8rem;
            padding-left: 15px;
            align-self: center;
        }
    }
}